.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-height: 400px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  